<h1>Events You Created</h1>

<% @created_events.each do |event| %>
  <%= render event %>
<% end %>

<h1>Upcoming Events</h1>

<% @attended_events.each do |event| %>
  <%= render event %>
<% end %>

<h1>Past Events</h1>
