<h1>Events You Created</h1>

<% @events.each do |event| %>
  <%= render event %>
<% end %>

<h1>Upcoming Events</h1>

<% Event.where("date > ?", Time.now).each do |event| %>
    <%= render event %>
<% end %>

<h1>Past Events</h1>

<% Event.where("date < ?", Time.now).each do |event| %>
    <%= render event %>
<% end %>
