  <p>
    <strong>Event Name: </strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Date: </strong>
    <%= event.date %>
  </p>

  <p>
    <strong>Location: </strong>
    <%= event.location %>
  </p>
