<h1>Upcoming Events</h1>
<div class="container">
  <% @events.upcoming.each do |event| %>
    <%= render event %>
  <% end %>
</div>

<h1>Past Events</h1>
<div class="container">
  <% @events.past.each do |event| %>
    <%= render event %>
  <% end %>
</div>
