<h1>Events</h1>

<ul>
  <% @events.each do |event| %>
    <li>
      <p>Event Name: <%= event.title %></p>
    </li>
    <li>
      <p>Date: <%= event.date %></p>
    </li>
    <li>
      <p>Location: <%= event.location %></p>
    </li>
  <% end %>
</ul>
