<h1>Events</h1>

<ul>
  <% @events.each do |event| %>
    <li>
      <%= event.title %>
    </li>
    <li>
      <%= event.date %>
    </li>
    <li>
      <%= event.location %>
    </li>
  <% end %>
</ul>
